data/
checkpoints/
checkpoints_contrast/
tensorboard_logs/

eval/cache/
results/
scripts/run_training_llama_lfj_*.sh
test_lfj.ipynb
eval/evaluate_desc_lfj.py
merge_lora_weights_lfj.py
merge_lora_weights_checkpoint_lfj.py

CLAUDE.md
CLAUDE.md/
wandb/
sh_djy/
*.pyc
**/__pycache__/
eval_results/
eval_local/
