data/
checkpoints*/
tensorboard_logs/
.vscode/

eval/cache/
results/
scripts/run_training_llama_lfj_*.sh
scripts/*bug.sh
scripts/*_lfj_*.sh
scripts_legacy/
test_lfj.ipynb
merge_*_lfj.py
eval/*_lfj.*
baselines/*_results/
model_grounding_cls/*.log
model_grounding_cls/category_embeddings.pt
model_grounding_cls/dataset_predictions.json
model_grounding_cls/logs/
model_grounding_seg/*.log
model_grounding_seg/dataset_predictions.json
model_grounding_seg/category_embeddings.pt
model_grounding_seg/logs/


CLAUDE.md
CLAUDE.md/
wandb/
sh_djy/
*.pyc
**/__pycache__/
eval_results/
eval_local/
